<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{mail.confirmation.title}">JiraRush - email confirmation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{mail.confirmation.greeting(${user.firstName})}">Hello, John.</p>
<p th:text="#{mail.confirmation.body}">
    To complete your account setup and start using JiraRush, please confirm your email address.
</p>
<a th:href="${confirmationUrl}" th:text="#{mail.confirmation.link}">Confirm email</a>
</body>
</html>