<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{mail.reset.title}">JiraRush - set new password</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{mail.reset.greeting(${user.firstName})}">Hello, John.</p>
<p th:text="#{mail.reset.body(${user.email})}">
    We received a request to set a new JiraRush password for the account: user@example.com.
</p>
<a th:href="${resetUrl}" th:text="#{mail.reset.link}">Set password</a>
</body>
</html>